* {
  box-sizing: border-box;
}

.container h1 {
  padding: 0 2em;
}

.post-container {
  background-color: #eee;
  margin: 2em;
  padding: 2em;
}

.post-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container-view {
  display: flex;
  gap: 2em;
  margin-top: 0;
}

.post-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.info-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.img-container img {
  width: 200px;
  height: 200px;
}

.inner-container {
  max-width: 70%;
}

.inner-container h3 {
  color: #000;
}

.view-image {
  width: 70%;
  height: 500px;
  /* display: block;
  margin: 0 auto; */
}

.post-view p {
  max-width: 70%;
}

.header {
  background-color: #03fccf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.25em 0;
}

.main-header,
.new-post-link {
  color: #000;
}

.new-post-link {
  margin-right: 2em;
  font-weight: bold;
}

.main {
  margin-top: 10em;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em 4em;
}
.form-element {
  display: block;
  width: 40vw;
  height: 30px;
  margin: 0.5em 0;
}

#form-button {
  margin-top: 2em;
}

.text-area {
  height: auto;
}

@media (max-width: 480px) {
  .post-container {
    flex-direction: column;
    display: 100%;
    align-items: center;
    padding: 0;
  }

  /* .form-container {
    margin: 0 0.25;
  } */

  .form-element {
    width: 70vw;
    height: 30px;
    margin: 0;
  }
}
